body, #root {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-size: 12px; /* Scaled down by 2px from a typical default of 16px */
}

h1 {
    font-size: 2.5em;
}

h1, h2 {
    margin-top: 0;
}

.hamburger-menu {
    display: none; /* Hidden on desktop */
    background: none;
    border: none;
    font-size: 1.5rem;
}

.top-bar-container {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.top-bar {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem; /* Add gap for wrapping */
}

.main-nav {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.top-bar .controls {
    display: flex;
    gap: 1rem;
}

.top-bar button.selected {
    border-color: #646cff;
    background-color: var(--color-background);
}

.content {
    margin: 0 auto;
    padding: 1rem;
}

.markdown-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.markdown-section {
    border: 1px solid var(--color-hr);
    padding: 1rem;
}

.overlay {
    display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .main-nav {
        position: fixed;
        top: 0;
        left: -100%; /* Start off-screen */
        width: 250px;
        height: 100vh;
        background-color: var(--color-background);
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 4rem;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
        padding: 1rem;
    }

    .main-nav.open {
        left: 0; /* Slide in */
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: block;
    }
}

@media (min-width: 1024px) {
    .content {
        max-width: 1400px;
    }

    .markdown-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .markdown-grid > .markdown-section:first-child {
        grid-column: span 2;
        text-align: center;
        border: none;
        padding: 1.5rem;
    }
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-color: var(--color-hr);
}